.home {
	background-image: url(../images/background.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	min-height: 700px;
	position: relative;
	overflow: hidden;
}

.home .titles {
	width: 100%;
	height: 100%;
	min-height: 700px;
	position: absolute;
	padding: 0 80px;
	top: 0;
	background-color: rgb(0, 0, 0, 0.5);
}

.home .titles-wrap {
	margin-top: 300px;
}

.home h1 {
	color: #ffffff;
	width: 100%;
	display: block;
	margin: 0;
	font-size: 45px;
	font-weight: 500;
	line-height: 1.7;
}

.home h1 span {
	color: #eef115;
}

.home h2 {
	color: #ffffff;
	display: block;
	font-size: 27px;
	line-height: 1.7;
}

.home h2 span {
	color: #ffffff;
}

.home p {
	color: #ffffff;
	font-size: 18px;
	margin-top: 20px;
	max-width: 450px;
}

.btn {
	color: #000000;
	background-color: #eef115;
	font-size: 14px;
	line-height: 40px;
	letter-spacing: 0.5px;
	text-align: center;
	font-weight: 600;
	text-transform: capitalize;
	padding: 0 40px;
	position: relative;
	display: inline-block;
	border: 2px solid #eef115;
}

.btn:hover {
	color: #ffffff;
	text-decoration: none;
	background-color: #d3c500;
	border: 2px solid #d3c500;
}

@media only screen and (max-width: 768px) {
	.home .titles {
		padding: 0 40px;
		width: 100%;
	}

	.home h2,
	.home p {
		font-size: 20px;
	}
}

@media only screen and (max-width: 576px) {
	.home h2,
	.home p {
		font-size: 18px;
	}
	.home h1 {
		font-size: 30px;
	}
}

@media only screen and (max-width: 350px) {
	.home h2,
	.home p {
		font-size: 16px;
	}
	.home h1 {
		font-size: 28px;
	}
}

.committees {
	background-color: #f9f9f9;
	padding: 100px 0 70px 0;
}

.sec-title {
	margin-bottom: 50px;
}

.sec-title h2 {
	font-size: 26px;
	font-weight: 700;
	line-height: 1.3;
	color: #444444;
	text-transform: uppercase;
	display: inline-block;
	padding: 10px 10px 0 0;
	position: relative;
	z-index: 1;
}

.sec-title h2::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 70%;
	z-index: -1;
	background-color: #eef115;
}

.committees .committees-box {
	border: 1px solid #dddddd;
	background-color: #ffffff;
	padding: 30px;
	margin-bottom: 30px;
}

.committees .committees-box .committeestitle {
	overflow: hidden;
	margin-bottom: 10px;
}

.committees .committees-box .committeestitle i {
	float: left;
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 21px;
	color: #d3c500;
	text-align: center;
}

.committees .committees-box .title {
	padding: 0 0 0 70px;
}

.committees .committees-box .title span {
	color: #d3c500;
	font-size: 16px;
}

.committees .committees-box .title h4 {
	font-size: 18px;
	font-weight: 700;
	color: #444444;
	text-transform: capitalize;
	margin: 7px 0 0 0;
}

.committees .committees-box p {
	margin: 0;
}

.work {
	padding: 100px 0 70px 0;
}

.work .list-filter {
	margin-bottom: 30px;
	padding: 0;
}

.work .list-filter li {
	list-style: none;
	display: inline-block;
}
